{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Пользователь{% endblock %}

{% block menu %}
    {% if request.user == user_obj %}
        <li xmlns="http://www.w3.org/1999/html"><a href="{% url 'accounts:change' user_obj.pk %}">Редактировать</a></li>
        <li><a href="{% url "accounts:password_change" %}">Смена пароля</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Личная страница пользователя {{ user_obj.get_full_name|default:user_obj.username }}</h1>
    {% if user_obj.profile.avatar %}
        <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="250" height="250" alt="user picture">
    {% else %}
        <img class="default" src="{% static 'img/avatar.png' %}" width="250" height="auto" alt="default picture">
    {% endif %}
    <p>Имя пользователя: {{ user_obj.username }}</p>
    <p>Имя: {{ user_obj.first_name }}</p>
    <p>Фамилия: {{ user_obj.last_name }}</p>
    <p>Почта: {{ user_obj.email }}</p>

    {% if user.is_authenticated %}
        {% if not request.user == user_obj %}
            <p>
                <a class="{% if add %}hidden{% endif %} add" href="{% url 'api:add' user.pk %}">Добавить в друзья</a>
                <a class="{% if not add %}hidden{% endif %} remove" href="{% url 'api:remove' user.pk %}">Удалить из друзей</a>
            </p>
        {% endif %}
    {% endif %}

{% endblock %}
