{% extends 'base.html' %}

{% block content %}
    <h1>Форум</h1>

    {% for user in users %}
        <form method="post" enctype="multipart/form-data">
            <div class="box">
                <p><a href="{% url 'accounts:detail' user.user.pk %}"> {{ user.user }} </a></p>
                <div class="friends">
                    {% if user.is_authenticated %}
                        <p>
                            <a class="{% if add %}hidden{% endif %} add" href="{% url 'api:add' user.pk %}">Добавить в друзья</a>
                            <a class="{% if not add %}hidden{% endif %} remove" href="{% url 'api:remove' user.pk %}">Удалить из друзей</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </form>
    {% endfor %}

{% endblock %}
